:root {
    --blue: #1d69d4;
    --blueHover: #0653b6;
    --lightGray: #f2f2f2;
    --gray: #e6e6e6;
    --mediumGray: #a4a4a4;
    --darkGray: rgb(74, 74, 74);
    --lineGray: #dcdcdc;
}

@font-face {
    font-family: "BMWfont";
    src: url("../assets/fonts/BMWTypeNextLatinTT-Regular.woff2");
    font-size: 18px;
    color: var(--darkGray);
}

* {
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: var(--lightGray)
}

.mTop {
    margin-top: 15px;
}

body {
    font-family: "BMWfont", 'Times New Roman', 'Times, serif';
}

header .primary-header_wrapper {
    background-image: linear-gradient(171deg, #0b9fe2, rgb(0 0 0 / 0%), rgb(247 247 247)), url(../assets/img/home.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 900px;
    position: relative;
}

header .primary-header_wrapper::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, #0066ff40 0%, rgba(0, 0, 255, 0) 50%, #ffffff 95%)
}

header .primary-header_wrapper {
    color: var(--lightGray);
}

header .main_menu_wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

.primary-header_wrapper nav {
    display: flex;
    background: #4646461f;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid var(--lightGray);
    width: 91%;
    padding: 52px 0 0;
}

.left_menu li a,
.right_menu li a {
    padding: 40px;
    transition: all 0.5s ease;
}

.left_menu li a:hover,
.right_menu li a:hover {
    color: var(--blue);
}

.main_menu_wrapper>a {
    background: white;
    width: 6%;
    font-size: 9px;
    color: var(--darkGray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_menu_wrapper>a div {
    border-bottom: 1px solid var(--darkGray);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_menu_wrapper a img {
    width: 46%;
    padding: 10px;
}

.main_menu_wrapper a p {
    letter-spacing: -0.8px;
    text-align: center;
    padding: 10px 0;
}

.header_info_wrapper {
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: var(--lightGray);
    text-transform: uppercase;
}

.primary_btn {
    padding: 10px 40px;
    background: var(--blue);
    width: fit-content;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
    text-transform: capitalize;
}

.primary_btn:hover {
    background: var(--blueHover);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 8% 0;
}

.category_title {
    color: var(--mediumGray);
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid var(--lightGray);
}

.container .secundary_menu {
    border-bottom: 1px solid var(--lineGray);
    margin-top: 10px;
}

.container .secundary_menu ul {
    display: flex;
    justify-content: space-between;
}

.container .secundary_menu ul li a {
    padding: 20px;
    display: inline-block;
    color: var(--mediumGray);
    transition: all 0.5s ease;
}

.container .secundary_menu ul li a:hover {
    color: var(--darkGray);
    border-bottom: 2px solid var(--blue);
    font-size: 18px;
    font-weight: bold;
}

.grid_items {
    display: flex;
    flex-wrap: wrap;
}

.cars_grid_wrapper {
    display: flex;
    flex-direction: column;
    color: var(--gray);
    margin-top: 3%;
    width: 25%;
    transition: all 0.5s ease;
}

.cars_grid_wrapper:hover>img {
    transform: scale(1.5);
}

.cars_grid_wrapper img {
    width: 100%;
}

.cars_grid_wrapper h2 {
    color: var(--darkGray);
}

.cars_grid_wrapper p {
    color: var( --mediumGray);
}

.secundary_btn {
    color: var(--darkGray);
    margin-top: 10px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.secundary_btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
}

.secundary_btn:hover {
    color: var(--blue);
}

.article_wrapper .grid_items,
.extra_info_wrapper .grid_items {
    justify-content: space-between;
    padding-top: 8%;
}

.article_wrapper .grid_items .cars_grid_wrapper,
.extra_info_wrapper .grid_items .cars_grid_wrapper {
    border: 1px solid var(--lightGray);
    width: 20%;
    padding: 15px;
}

.extra_info_wrapper .grid_items .cars_grid_wrapper {
    width: 47%;
}

article .grid_items .cars_grid_wrapper:hover {
    opacity: 0.5;
}

article .grid_items .cars_grid_wrapper:hover>img {
    transform: none;
}

.article_wrapper .grid_items .cars_grid_wrapper p {
    color: var(--mediumGray);
}

.extra_info_wrapper .cars_grid_wrapper {
    width: 50%;
}

.topics_wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 4%;
}

.topic_container {
    background: var(--lightGray);
    color: var(--darkGray);
    width: 24%;
    height: 150px;
    position: relative;
    transition: all 0.5s ease;
}

.topic_container:hover {
    background: var(--gray);
}

.topic_container>div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic_container p {
    margin-top: 15px;
}

.main_footer_wrapper {
    width: 100vw;
    background: var(--gray);
    padding: 5% 0;
}

.info_footer_container {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid var(--lineGray);
    display: flex;
    justify-content: space-between;
}

.info_footer_container>div {
    padding-top: 60px;
}

.info_footer_container div>p {
    font-weight: bold;
}

.info_footer_container ul {
    margin-top: 20px;
}

.info_footer_container li {
    display: block;
}

.info_footer_container li a {
    color: var(--mediumGray);
    font-size: 12px;
    line-height: 2em;
}

.legal_footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    font-size: 12px;
}

.legal_footer a {
    color: var(--blue);
    padding: 10px;
    transition: all 0.5s ease;
}

.legal_footer a:hover {
    color: var(--mediumGray);
}